demo-proj
demo-parms
demo-proj2
demo-proj3
demo-proj4
*.profile
*.o
*.lo
*.2o
*.3o
*.4o
demo-proj*.log
mcsolver-*
mcupdate-*
dpa.log
dpb.log
dpa?.log
dpb?.log
mcgen
mcgen*.repo
mcgen*.soln
mcgen*.log
mcgenx
mcdumpsoln
test*.soln
*.bin
*.diff
demo-proj-dbg
demo-proj2-dbg
demo-proj-O3
demo-quick
demo-quick-dbg
a.cpp
a.out
demo-io
demo-io.log
demo-printing
demo-printing.log
demo-quick.log
demo-mcsolver
demo-mcsolver.log
demo.soln
demo-bin.soln
test.txt
parms.txt
DenseM.txt
SparseM.txt
VectorXd.txt
evaluate_projection
learn_projection
oct_evaluate_model.oct
oct_evaluate_predictions.oct
oct_find_w.oct
oct_normalize_data.oct
oct_predict_data.oct
oct_project_data.oct
run_LPSR
demo-proj.O3
demo-proj.O3.log
demo-proj.native
demo-proj.native.log
demo-proj.omp1.log
demo-proj.omp4.log
demo-proj.omp4a.log
demo-proj.omp4b.log
demo-proj.omp4c.log

